<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
    ">
	<context:component-scan base-package="com.springmvc.controller"></context:component-scan>

	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		name="viewResolver">
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp"></property>
	</bean>

	<bean id="datasource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/db?useSSL=false" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>

	<bean id="jdbctemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="datasource"></property>
	</bean>

	<bean id="employeeDao" class="com.springmvc.dao.EmployeeDaoImpl">
		<property name="template" ref="jdbctemplate"></property>
	</bean>
	
	<bean id="skillDao" class="com.springmvc.dao.SkillDaoImpl">
		<property name="template" ref="jdbctemplate"></property>
	</bean>
	
	<bean id="employeeService" class="com.springmvc.services.EmployeeServiceImpl"> 
		<property name="employeeDao" ref="employeeDao"></property>
	</bean>
	
	<bean id="skillservice" class="com.springmvc.services.SkillServiceImpl"> 
		<property name="skillDao" ref="skillDao"></property>
	</bean>
	
	<bean id="employeeController" class="com.springmvc.controller.EmployeeController"> 
		<property name="employeeService" ref="employeeService"></property>
	</bean>
	
</beans>